{% if is_php %}
# Set Apache environment variables
ENV APACHE_RUN_USER    $USERNAME
ENV APACHE_RUN_GROUP   $USERNAME
ENV APACHE_LOCK_DIR    /var/lock/apache2
ENV APACHE_LOG_DIR     /var/log/apache2
ENV APACHE_PID_FILE    /var/run/apache2/apache2.pid

# - Make the container user the owner of the apache logs
# - Configure Apache's http port
# - Add QA tools to system path
RUN chown ${USERNAME}:${USERNAME} -R /app /var/log/apache2 \
  && sed -i 's/Listen 80/Listen 8080/g' /etc/apache2/ports.conf \
  && sed -i "s/*:80>/*:8080>/g" /etc/apache2/sites-available/000-default.conf \
  && sed -i "s/*:80>/*:8080>/g" /etc/apache2/sites-enabled/000-default.conf \
  && su ${USERNAME} -s /bin/bash -c "umask 002 && echo -e "\n#Add PHPQA to path\nexport PATH=\"/tools:${PATH}\"\" >> /home/${USERNAME}/.bashrc"

# Install QA tools
COPY --chown=${USERNAME}:${USERNAME} --from=jakzal/phpqa /tools /tools
{% endif %}