// {{ repo_managed }}
{
  "dockerComposeFile": "docker-compose.yml",
  "service": "app",
  "workspaceFolder": "/app",

  "hostRequirements": {
      "cpus": 2,
      "memory": "8gb",
      "storage": "32gb"
  },

  "features": {
      "ghcr.io/devcontainers/features/github-cli:1": {},
      "ghcr.io/devcontainers/features/docker-in-docker:1": {}
  },

  // Configure tool-specific properties.
  "customizations": {
      // Configure properties specific to VS Code.
      "vscode": {
          // Set *default* container specific settings.json values on container create.
          "settings": {
              "php.validate.executablePath": "/usr/local/bin/php"
          },
          // Add the IDs of extensions you want installed when the container is created.
          "extensions": [
              "xdebug.php-debug",
              "bmewburn.vscode-intelephense-client",
              "mrmlnc.vscode-apache"
          ]
      }
  },
  "forwardPorts": [80, 3306],
  "remoteUser": "vscode",
  "postCreateCommand": "composer config --global --auth http-basic.repo.packagist.com $PACKAGIST_USER  $PACKAGIST_TOKEN && composer install"
}
