// {{ repo_managed }}
{
  "name": "{{ repo.name }}",
  "dockerComposeFile": "./docker-compose.yml",
  "service": "app",
  "forwardPorts": [
    8080,
  {% if use_db and is_php %}
  3306
  {% endif %}
  ],
  "workspaceMount": "source=${localWorkspaceFolder},target=/app,type=bind",
  "workspaceFolder": "/app",
  "remoteUser": "vscode",
  "build": {
    "context": ".."
  },
  "postCreateCommand": "/app/.devcontainer/postCreate.sh",
  "shutdownAction": "stopCompose",
  "hostRequirements": {
    "cpus": 2,
    "memory": "8gb",
    "storage": "32gb"
  },
  "features": {
    "ghcr.io/devcontainers/features/github-cli:1": {},
{% if private_packagist or repo.php.private_packagist %}
    "ghcr.io/devcontainers/features/docker-in-docker:1": {},
{% endif %}
{% include './devcontainer.json.d/features/php.j2' %}
{% include './devcontainer.json.d/features/additional.j2' %}
  },
  // Configure tool-specific properties.
  "customizations": {
    // Configure properties specific to VS Code.
    "vscode": {
      // Set *default* container specific settings.json values on container create.
      "settings": {
        "php.validate.executablePath": "/usr/local/bin/php"
      },
      // Add the IDs of extensions you want installed when the container is created.
      "extensions": [
      {% include './devcontainer.json.d/extensions/php.j2' %}
      ]
    }
  },
{% include './devcontainer.json.d/secrets.j2' %}
}
