# {{ repo_managed }}
version: '3.8'

services:
  app:
    build:
      context: ../
      dockerfile: .devcontainer/Dockerfile
      args:
        # Optional Node.js version
        NODE_VERSION: "lts/*"
    restart: unless-stopped
    volumes:
      - ..:/app
    environment:
      DATABASE_URL: "mysql://${MARIADB_USER:-db_user}:${MARIADB_PASSWORD:-db_password}@db:3306/${MARIADB_DATABASE:-app}?serverVersion=mariadb-10.11.5&charset=utf8mb4"
      
{% if is_php and use_db %}
  db:
    image: mariadb:10.11.5
    restart: unless-stopped
    environment:
      MARIADB_DATABASE: ${MARIADB_DATABASE:-app}
      MARIADB_USER: ${MARIADB_USER:-db_user}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD:-db_password}
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD:-db_root_password}
{% endif %}