#!/usr/bin/env bash
# {{ repo_managed }}

git config commit.template .devcontainer/git/linkorb_commit.template

cp .devcontainer/git/hooks/pre-push .git/hooks/pre-push
chmod +x .git/hooks/pre-push

{% if repo.devcontainer.private_packagist %}
composer config --global --auth http-basic.repo.packagist.com "$GITHUB_USER" "$PACKAGIST_TOKEN"
{% endif %}

{% if repo.type in ['application', 'library', 'symfony-bundle'] %}
composer install
{% endif %}

{% if repo.type == 'application-nodejs' %}
npm ci
{% endif %}

{{ repo.devcontainer.postCreateCommand|default('') }}
