#!/usr/bin/env bash
# {{ repo_managed }}

# Workaround for recent Python versions which prevent global pip package installation without an explicit flag
# or removal of a certain file.
sudo rm /usr/lib/python3.*/EXTERNALLY-MANAGED || true

# This is a workaround on an issue with the devcontainer reported on Windows where followup git config commands would
# fail. #9067
git config --global --add safe.directory /app

git config commit.template .devcontainer/git/linkorb_commit.template

{% if repo.type in ['application', 'library', 'symfony-bundle'] or repo.type.startswith('php-') %}

{% if repo.devcontainer.private_packagist %}
composer config --global --auth http-basic.repo.packagist.com \
  "${GITHUB_USER:-$GITHUB_USER_ON_HOST}" "${PACKAGIST_TOKEN:-$PACKAGIST_TOKEN_ON_HOST}"
{% endif %}

composer install
{% endif %}

{% if repo.type.startswith('nodejs-') %}
npm ci
{% endif %}

{{ repo.devcontainer.postCreateCommand|default('') }}
