# [[ repo_managed ]]
name: Release

on:
{% if repo.github_workflows.uses_companion_app %}
  release:
    types: [published]
{% else %}
  workflow_dispatch:
  push:
    branches:
      - [[ repo.github.default_branch ]]
{% endif %}

permissions:
  contents: write
  issues: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # v6 https://github.com/actions/checkout/commit/de0fac2e4500dabe0009e67214ff5f5447ce83dd
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      with:
        fetch-depth: 0

    - uses: docker/setup-qemu-action@v4
      with:
        image: tonistiigi/binfmt:qemu-v10.2.1@sha256:d3b963f787999e6c0219a48dba02978769286ff61a5f4d26245cb6a6e5567ea3
        platforms: linux/amd64

    - uses: docker/setup-buildx-action@v4
      with:
        driver-opts: network=host,image=moby/buildkit:v0.28.0@sha256:37539dd4d60fc70968d164d3850d903a2c56f6402214a1953fbf9fcb81ada731
        platforms: linux/amd64

{% if repo.github_workflows.uses_companion_app %}
    - id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          ghcr.io/${{ github.repository }}
        tags: |
          type=sha
          type=raw,value=latest,enable={{is_default_branch}}
          type=raw,value=${{ github.event.release.tag_name }}
{% else %}
    - name: Semantic release
      id: semantic-release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        npm install --no-save semantic-release @semantic-release/changelog @semantic-release/git @semantic-release/exec conventional-changelog @semantic-release/release-notes-generator conventional-changelog-conventionalcommits
        npx semantic-release --repository-url ${{ github.server_url }}/${{ github.repository }}
        echo "release-version=$(cat .gitrelease)" >> "$GITHUB_OUTPUT"

    - id: meta
      uses: docker/metadata-action@v6
      with:
        images: |
          ghcr.io/${{ github.repository }}
        tags: |
          type=sha
          type=raw,value=latest,enable={{is_default_branch}}
          type=raw,value=${{ steps.semantic-release.outputs.release-version }}
{% endif %}

      # v4 https://github.com/docker/login-action/commit/b45d80f862d83dbcd57f89517bcf500b2ab88fb2
    - uses: docker/login-action@b45d80f862d83dbcd57f89517bcf500b2ab88fb2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - uses: docker/build-push-action@v6
      with:
        context: .
        provenance: false
        push: ${{ github.event_name != 'pull_request' }}
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        # For additional docker build args set github_workflows.build.extra_docker_build_args in the repo.yaml file
        build-args: |
{% for key, value in docker_build_args.items() %}
          [[key]]=[[value]]
{% endfor %}
{% if workflow_group in followup_workflows %}
{% for followup_workflow in followup_workflows[workflow_group] %}

  [[ followup_workflow.name ]]-followup:
    needs: build
    secrets: inherit
    uses: ./[[ followup_workflow.path_from_root ]]
{% endfor %}
{% endif %}
