# [[ repo_managed ]]
name: Scheduled Cleanup

on:
  schedule:
  - cron: 0 13 * * 2
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest

    permissions:
      packages: write

    steps:
    - uses: FranzDiebold/github-env-vars-action@v2

    - name: Keep last 5 published container images
      uses: actions/delete-package-versions@v5
      with:
        package-name: "${{ env.CI_REPOSITORY_NAME }}"
        package-type: container
        min-versions-to-keep: 5
{% if workflow_group in followup_workflows %}
{% for followup_workflow in followup_workflows[workflow_group] %}

  [[ followup_workflow.name ]]-followup:
    needs: cleanup
    secrets: inherit
    uses: ./[[ followup_workflow.path_from_root ]]
{% endfor %}
{% endif %}
