- name: remove renamed or repo-ansible dropped files
  ansible.builtin.file:
    path: "{{ repo_path }}/{{ item }}"
    state: absent
  loop:
    - .devcontainer/git/hooks/pre-push
    - .github/workflows/00-start.yaml
    - .github/workflows/dependabot-auto-merge.yaml
    - .github/workflows/repo-ansible.yaml
    - .releaserc
