# Code Owners

# The following individuals are designated as code owner(s) for specific files/directories in the repository:

{% for rules in repo.codeowners %}
{{ rules.pattern }} {{ rules.owners|join(' ') }}
{% endfor %}
