# Code Owners

The following individuals are designated as code owner(s) for specific files/directories in the repository:

{% for path, owners in repo.codeowners.items() %}
{{ path }}
{% for owner in owners %}
{{ owner }}
{% endfor %}
{% endfor %}