# Code Owners

# The following individuals are designated as code owner(s) for specific files/directories in the repository:

{% if repo.codeowners is defined and repo.codeowners %}
{% for entry in repo.codeowners %}
{{ entry.pattern }}{% for owner in entry.owners %} {{ owner }}{% endfor %}  
{% endfor %}
{% endif %}