# Dependabot configuration file
# {{ ansible_managed }}

{% set dependencies = lookup('file', '{{ repo_path }}/repo.yaml') | from_yaml %}

# Generate the Dependabot configuration for each dependency
{% for dependency in dependencies %}
{% if dependency.type == 'composer' %}
  - package-ecosystem: "composer"
  directory: "{{ dependency.directory }}"
  schedule:
    interval: "{{ dependency.interval }}"
  update-type: "widen"
{% elif dependency.type == 'npm' %}
  - package-ecosystem: "npm"
  directory: "{{ dependency.directory }}"
  schedule:
    interval: "{{ dependency.interval }}"
  update-type: "widen"
{% endif %}
{% endfor %}