<!-- {{ repo_managed }} -->
{% if repo.type != 'other' and repo.github.features.sdlc_workflows %}
[![Release](https://github.com/linkorb/{{ repo.name }}/actions/workflows/30-release-and-build.yaml/badge.svg)](https://github.com/linkorb/{{ repo.name }}/actions/workflows/30-release-and-build.yaml)
{% endif %}

{% set markdown_file_path_prefix = repo_path + '/docs/partials/readme.' %}
{#################################################}
{#################### ABOUT ######################}
{#################################################}
{################# about.before ##################}
{% set markdown_file_path =  markdown_file_path_prefix + 'about.before.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.intro.before is defined %}
{{ repo.readme.intro.before }}
{% else %}
{% endif %}
{################# about.content #################}
{% set markdown_file_path =  markdown_file_path_prefix + 'about.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.intro.content is defined %}
{{ repo.readme.intro.content }}
{% else %}
{% endif %}
{################# about.after ###################}
{% set markdown_file_path =  markdown_file_path_prefix + 'about.after.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.intro.after is defined %}
{{ repo.readme.intro.after }}
{% else %}
{% endif %}

{#################################################}
{################# INSTALLATION ##################}
{#################################################}
{############## installation.before ##############}
{% set markdown_file_path =  markdown_file_path_prefix + 'installation.before.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.installation.before is defined %}
{{ repo.readme.installation.before }}
{% else %}
{% endif %}

{############## installation.content ##############}
{% set markdown_file_path =  markdown_file_path_prefix + 'installation.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.installation.content is defined %}

## {{ repo.readme.installation.title }}

{{ repo.readme.installation.content }}
{% else %}
{% endif %}

{###############installation.after ###############}
{% set markdown_file_path =  markdown_file_path_prefix + 'installation.after.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.installation.after is defined %}
{{ repo.readme.installation.after }}
{% else %}
{% endif %}
{#################################################}
{################ CONFIGURATION ##################}
{#################################################}
{############# configuration.before ##############}
{% set markdown_file_path =  markdown_file_path_prefix + 'configuration.before.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.configuration.before is defined %}
{{ repo.readme.configuration.before }}
{% else %}
{% endif %}
{############# configuration.content #############}
{% set markdown_file_path =  markdown_file_path_prefix + 'configuration.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.configuration.content is defined %}
## {{ repo.readme.configuration.title }}

{{ repo.readme.configuration.content }}
{% else %}
{% endif %}
{############## configuration.after ##############}
{% set markdown_file_path =  markdown_file_path_prefix + 'configuration.after.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.configuration.after is defined %}
{{ repo.readme.configuration.after }}
{% else %}
{% endif %}

{#################################################}
{#################### USAGE ######################}
{#################################################}
{################# usage.before ##################}
{% set markdown_file_path =  markdown_file_path_prefix + 'usage.before.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.usage.before is defined %}
{{ repo.readme.usage.before }}
{% else %}
{% endif %}
{################# usage.content #################}
{% set markdown_file_path =  markdown_file_path_prefix + 'usage.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.usage.content is defined %}
## {{ repo.readme.usage.title }}

{{ repo.readme.usage.content }}
{% else %}
{% endif %}
{################## usage.after ##################}
{% set markdown_file_path =  markdown_file_path_prefix + 'usage.after.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.usage.after is defined %}
{{ repo.readme.usage.after }}
{% else %}
{% endif %}
{#################################################}
{################## CONTRIBUTING #################}
{#################################################}

{% if repo.visibility == 'public' %}
## Contributing

We welcome contributions to make this repository even better. Whether it's fixing a bug, adding a feature, or improving documentation, your help is highly appreciated. To get started, fork this repository then clone your fork.

Be sure to familiarize yourself with LinkORB's [Contribution Guidelines](/CONTRIBUTING.md) for our standards around commits, branches, and pull requests, as well as our [code of conduct](/.github/CODE_OF_CONDUCT.md) before submitting any changes.

{% if repo.github.features.issues %}
If you are unable to implement changes you like yourself, don't hesitate to open a new issue report so that we or others may take care of it.
{% endif %}
{% endif %}
{#################################################}
{##################### FOOTER ####################}
{#################################################}
## Brought to you by the LinkORB Engineering team

<img src="http://www.linkorb.com/d/meta/tier1/images/linkorbengineering-logo.png" width="200px" /><br />
Check out our other projects at [linkorb.com/engineering](http://www.linkorb.com/engineering).
By the way, we're hiring!
