<!-- {{ repo_managed }} -->
{{ repo.name }}
============

Build status: [![Release](https://github.com/linkorb/{{ repo.name }}/actions/workflows/30-release-and-build.yaml/badge.svg)](https://github.com/linkorb/{{ repo.name }}/actions/workflows/30-release-and-build.yaml)

{% if repo.description is defined %}
{{ repo.description }}
{% endif %}

{% if repo.type == 'application' %}
## Installation

### Prerequisites

* Ensure [composer](https://getcomposer.org/) is installed
* Ensure [npm](https://www.npmjs.com/) is installed

### Steps

```bash
# Clone the repository
git clone git@github.com:linkorb/{{ repo.name }}.git
cd {{ repo.name }}

# Install PHP dependencies
composer install

# Install node dependencies
npm install
{% if repo.php['webpack-encore'] is defined %}

# Generate the assets
node_modules/.bin/encore prod
{% endif %}
```
{% endif %}

{% if repo.todo is defined %}
## TODO

{% for todo in repo.todo %}
- [{% if todo.state=="closed" %}x{% else %} {% endif %}] {{ todo.text }}
{% endfor %}
{% endif %}


{% if composer_json %}
{{ packagist_content.stdout }}
{% endif %}

## Brought to you by the LinkORB Engineering team

<img src="http://www.linkorb.com/d/meta/tier1/images/linkorbengineering-logo.png" width="200px" /><br />
Check out our other projects at [linkorb.com/engineering](http://www.linkorb.com/engineering).

By the way, we're hiring!
