{{ repo.name }}
============

### Reporting Security Vulnerabilities
We take the security of our software and systems very seriously, and we appreciate your help in identifying and disclosing any vulnerabilities that you may find.

If you discover a security vulnerability, please report it to us as soon as possible by emailing us at security@linkorb.com . Please provide us with as much detail as possible, including:

* A brief description of the vulnerability.
* Steps to reproduce the vulnerability.
* Any relevant screenshots, logs, or other supporting information.
* We will review your report as quickly as possible and will work to validate and address the issue.

### Responsible Disclosure
We believe in responsible disclosure, and we ask that you do not disclose any details of a vulnerability that you have discovered until we have had a reasonable amount of time to address it.