<?php
// {{ repo_managed }}

declare(strict_types=1);

use ComposerUnused\ComposerUnused\Configuration\Configuration;
use ComposerUnused\ComposerUnused\Configuration\NamedFilter;
use ComposerUnused\ComposerUnused\Configuration\PatternFilter;
use Webmozart\Glob\Glob;

return static function (Configuration $config): Configuration {
    return $config
        // phpqa.composer_unused.default_filtered_packages
        {% for filter in repo.phpqa.composer_unused.default_filtered_packages -%}
        ->addPatternFilter(PatternFilter::fromString('{{ filter }}'))
        {% endfor %}

        // phpqa.composer_unused.filtered_packages
        {% for filter in repo.phpqa.composer_unused.filtered_packages -%}
        ->addPatternFilter(PatternFilter::fromString('{{ filter }}'))
        {% endfor -%}
        ;
};
