# .reviewdog.yml
# {{ repo_managed }}
# Configure the tools
tools:
  # phpneon
  phpstan:
    # full command
    cmd: phpstan analyze --configuration=phpstan.neon
    format: checkstyle # format to be parsed by reviewdog
    name: phpstan # output in logs
    level: error 

  php-cs-fixer:
    name: php-cs-fixer
    cmd: "php-cs-fixer fix --dry-run --diff .php-cs-fixer.dist.php --ansi"
    format: "checkstyle"
    level: error 

  yaml-lint:
    name: yaml-lint
    cmd: "yaml-lint -f checkstyle ."
    format: "checkstyle"
    stdin: true
    level: error 

  twigcs:
    name: twigcs
    cmd: "twigcs ."
    format: "checkstyle"
    stdin: true
    level: error 


  local-php-security-checker:
    name: local-php-security-checker
    cmd: "local-php-security-checker"
    format: "checkstyle"
    stdin: true
    level: error 


  composer-unused:
    name: composer-unused
    cmd: "composer-unused check"
    format: "checkstyle"
    stdin: true
    level: error 