name: Reviewdog

on:
  push:
    branches: [master, main]

jobs:
  reviewdog:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Install reviewdog
        run: |
          wget -O - -q https://raw.githubusercontent.com/reviewdog/reviewdog/master/install.sh | sh -s

      - name: Install dependencies
        run: |
          composer require friendsofphp/php-cs-fixer
          npm install -g yaml-lint
          composer global require sensiolabs/security-checker

      - name: Run yaml-lint
        run: |
          yamllint -c .yamllint.yaml . > yamllint.log
          cat yaml-lint.log | reviewdog -f=checkstyle -name="yaml-lint" -reporter=github-pr-review

      - name: Run twigcs
        run: |
          twigcs . > twigcs.log
          cat twigcs.log | reviewdog -f=checkstyle -name="twigcs" -reporter=github-pr-review

      - name: Run local-php-security-checker
        run: |
          php ~/.composer/vendor/bin/local-php-security-checker > local-php-security-checker.log
          cat local-php-security-checker.log | reviewdog -f=checkstyle -name="local-php-security-checker" -reporter=github-pr-review

      - name: Run composer-unused
        run: |
          composer global exec -- composer-unused > composer-unused.log
          cat composer-unused.log | reviewdog -f=checkstyle -name="composer-unused" -reporter=github-pr-review

      - name: Run php-cs-fixer
        run: |
          php php-cs-fixer fix --dry-run --diff --ansi --config=.php-cs-fixer.dist.php > php-cs-fixer.log
          cat php-cs-fixer.log | reviewdog -f=checkstyle -name="php-cs-fixer" -reporter=github-pr-review