# Managed by https://github.com/linkorb/repo-ansible. Manual changes will be overwritten.
name: Review

on:
  pull_request_target:
    types: [opened, edited, reopened, synchronize]
  workflow_call:

jobs:
  commit-conventions:
    runs-on: ubuntu-latest
    # Don't enforce commit conventions checks for Dependabot
    if: github.actor != 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v5

      # interesting alternative: https://github.com/cocogitto/cocogitto
      - uses: webiny/action-conventional-commits@v1.3.0
        # XXX: normal action versioning syntax (`@v1`) doesn't work with this action,
        # possibly because not published on the GitHub marketplace

      - name: Check Card# reference
        uses: linkorb/commit-message-checker@v1
        with:
          # Matches lines that end in a card number:                  #1234
          # Matches lines that end in a card number and PR reference: #1234 (#20)
          pattern: '#\d{4,5}(\s+\(#\d+\))?'
          flags: 'gm'
          error: 'Your commit message has to end with a card number like "#1234".'
          excludeDescription: 'true' # optional: this excludes the description body of a pull request
          excludeTitle: 'true' # optional: this excludes the title of a pull request
          checkAllCommitMessages: 'true' # optional: this checks all commits associated with a pull request
          accessToken: ${{ secrets.GITHUB_TOKEN }} # github access token is only required if checkAllCommitMessages is true

